.container {
  max-width: 1280px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1820px) {
    max-width: 1600px;
  }
}

html:not(.touch-screen) ::-webkit-scrollbar,
html:not(.touch-screen)::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html:not(.touch-screen) ::-webkit-scrollbar-thumb,
html:not(.touch-screen)::-webkit-scrollbar-thumb {
  background: #e70000;
}

html:not(.touch-screen) ::-webkit-scrollbar-track,
html:not(.touch-screen)::-webkit-scrollbar-track {
  background: #e1e1e1;
}
